{% extends 'base.html' %}
{% load static %}

{% block style %}
{% static 'css/style.css' %}
{% endblock %}

{% block content %} 
<!-- landing page -->
<div class="container">
     

</div>
<main>

    <div class="container-f">
        <div class="header">
            <h2>Create Account</h2>
        </div>
        <form action="{% url 'facialRocognitionUrls:accountPage' %}" method="post" id="form" class="form" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" name="username" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" placeholder="example@gmail.com" id="email" name="email"/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="password">Confirm Password</label>
                <input type="password" placeholder="Password" id="password2" name="password"/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="picture">Upload Picture</label>
                <input type="file"  accept = "image/*"  name="image" required/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                
            </div>
            <button class="ac-submit" type="submit">Submit</button>
            
            
        </form>

    </div>
    
</main>
{% endblock %}
