<div class="navbar">
        <div class="logo">
            <p><a href="{% url 'facialRocognitionUrls:indexPage'%}">DreamWoodz</a> </p>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'facialRocognitionUrls:indexPage'%}">home</a></li>
                <li><a href="{% url 'facialRocognitionUrls:aboutPage'%}">about</a></li>
                <li><a href="{% url 'facialRocognitionUrls:accountPage'%}">account</a></li>
                <li><a href="{% url 'facialRocognitionUrls:contactsPage'%}">contact</a></li>
            </ul>
        </nav>
        
       <img id="cart" class="cart-img" src="https://img.icons8.com/android/24/4a90e2/shopping-cart.png" alt="cart"/>
    </div>